.products-container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

@media screen and (max-width: 460px) {
    .products-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 460px) and (max-width: 760px) {
    .products-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 760px) and (max-width: 960px) {
    .products-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


